
.App {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.classBtns{
  width: 100%;
  height: 71px;
  background: #303030;
}
.subOptions{
  width: 100%;
  height: 0px;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
  opacity: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}

.arrow{
  width: 45px;
  height: 47px;
  position: absolute;
  bottom: 100%;
  right: 63px;
  border-radius: 20px 20px 0 0;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrow > img{
  transform: rotate(0deg) ;
  transform-origin: 50% 50%;
  width: 60%;
  height: auto;
  transition: all 0.5s;
}

.showSubOptions .subOptions{
  height: 137px;
  opacity: 1;
}

.showSubOptions .arrow > img{
  transform: rotate(-180deg) ;
}

.classBtns{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: auto;
  transform: all 1s;
}

.classBtns::-webkit-scrollbar{
  background-color: #ccc;
  height: 0px;
  border-radius: 2px;
}
.classBtns::-webkit-scrollbar-thumb{
  background-color: #999;
  border-radius: 0px;
}

.generate{
  width: 82px;
  height: 81px;
  border-radius: 14px;
  background: #000;
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22.14px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.generate img{
  width: 49px;
}