
.App {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
.modal{
  width: 572px;
  text-align: center;
  color: #fff;
  background: #000;
  border-radius: 30px;
  padding: 60px 0 48px;
  font-family: PingFangSC-Light;
  margin-bottom: 230px;
}

.title{
  font-size: 30px;
}
.desc{
  font-size: 22px;
  margin: 24px auto 47px;
}
.btn{
  padding: 15px 69px;
  font-size: 30px;
  border-radius: 29px;
  border: 1px solid #fff;
  display: inline-block;
}

.xlt{
  width: 347px;
  height: 397px;
  margin: 21px auto 40px;
  border: 3px solid rgba(255,255, 255, 0.5);
  position: relative;
}
.xlt img{
  width: 100%;
}

.icon-scale, .icon-close, .icon-rotate{
  position: absolute;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icon-scale{
  top: -20px;
  left: -20px;
  background-image: url(../../images/others/scale.png);
}
.icon-close{
  top: -20px;
  right: -20px;
  background-image: url(../../images/others/close.png);
}
.icon-rotate{
  bottom: -20px;
  right: -20px;
  background-image: url(../../images/others/rotate.png);
}
