.App {
  width: 100%;
  height: 100%;
  position: relative;
}
.app-container{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
}
.composeImg{
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
}
.composeImg img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 38px;
  flex-shrink: 0;
}
.leftText{
  flex-grow: 1;
}
.t1{
  font-size: 38.02px;
}
.t2{
  font-size: 26px;
}
.logoAndT3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo{
  display: block;
  width: 53px;
  height: 53px;
  margin-right: 0.3em;
}
.logo img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.t3{
  font-size: 20px;
}

.btnShare{
  height: 84px;
  font-size: 38px;
  color: #fff;
  background: #2535b0;
  border-radius: 42px;
  padding-left: 40px;
  padding-right: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnShareFetching {
  height: 84px;
  font-size: 38px;
  color: #fff;
  background: #333;
  border-radius: 42px;
  padding-left: 40px;
  padding-right: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingContainer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ecode{
  width: 122px;
  height: 155px;

}

.ecode img{
  width: 100%;
  height: 100%;
}

.wholeImg{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.wholeImg img{
  width: 100%;
  height: 100%;
  display: block;
}

.canvas{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
}